body {
  @extend %txt--body;
  position: relative;
  color: cc(txt);
  background-color: rgb(80, 76, 76);

  ::selection {
    background-color: cc(selection);
  }
}


.link {
  &--external {
    color: $seagull;
    text-decoration: underline;
  }
}
